.view-form-detail {
    position: relative;
    background: #f5f5f5;
    border: 10px;
    margin-top: 50px;
    box-shadow: 0 10px 6px -6px #777;
}

.view-form-detail h6, .view-form-detail div:not(:first-child) .col-lg-6 .col-lg-4 {
    font-weight: bold;
}

.form-detail .form-detail-semester {
    border-bottom: 1px solid;
}

.form-detail-info>div div {
    margin-bottom: 20px;
}

.form-detail-info {
    border-bottom: 1px solid gainsboro;
    overflow: hidden;
    margin: 20px 0px;
}

.form-view-title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
}

.form-detail-info {
    overflow: hidden;
    padding: 10px 20px;
}

.form-detail h3 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
}

table#form-view-detail {
    padding: 20px;
}

.search-found {
    text-decoration: underline;
}

mark {
    padding: unset !important;
    background: unset !important;
    color: red !important;
}

.desc-view .col-lg-9 {
    text-align: justify;
}

table#form-view-detail tr>th {
    width: 10%;
}

.btn-edit-content {
    position: absolute;
    top: 30px;
    right: 30px;
}

.form-detail-head {
    border-bottom: 10px solid #fff;
}

table#form-view-detail .btn-close {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

table#form-view-detail tr:nth-child(odd) {
    background: #fff;
}

div.groups-button-request {
    text-align: center;
    margin: 50px;
}

.member-message {
    min-height: 25px;
}

.btn-user {
    padding: 0 !important;
}

.supervisor-form>div>div {
    padding: 0;
}

.supervisor-form>div>div:last-child {
    padding-left: 20px;
}

td.method-action {
    width: 25%;
}

.other-form {
    overflow: hidden;
    background: #f5f5f5;
    padding: 50px 0px;
}

.other-form .my-container {
    overflow: hidden;
    border-top: 1px solid black;
    padding: 10px 0px;
}

.other-form .form-related {
    padding-left: 10px;
}

div.form-view {
    margin-top: 10px;
}

.submit-request {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 35em;
    height: auto;
    margin-top: -9em;
    margin-left: -15em;
    display: none;
    background-color: gainsboro;
    transition: opacity 0.6s;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.submit-request textarea {
    resize: none;
    padding: 10px;
}

.button-box {
    display: inline-block;
    width: 100%;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #fff;
}

.message-success {
    background: #dbf1d6;
    padding: 10px;
}

.message-fail {
    padding: 10px;
    background: #f6dddc;
}

.form-detail-desciption {
    text-align: justify;
}

.postion-apply-request {
    margin: 20px 0px 5px 5px;
    overflow: hidden
}

.postion-apply-request span {
    padding-top: 4px;
    margin-right: 5px;
}

.postion-apply-request select, .postion-apply-request span {
    float: left;
}

select#select-postion {
    width: auto;
    height: 30px;
}