#service-top-title {
    text-align: center;
    margin-top: 40px;
}

#service-main h5 {
    font-family: Arial, sans-serif !important;
}

#cover {
    padding: 5px;
}

#post-1 {
    border-bottom: solid 6px #ffc600 !important;
}

#post-2 {
    border-bottom: solid 6px #ffa200 !important;
}

#post-3 {
    border-bottom: solid 6px #ff7e00 !important;
}

#post-4 {
    border-bottom: solid 6px #ff5a00 !important;
}

#post-2 #circle {
    background-color: #ffa200;
}

#post-3 #circle {
    background-color: #ff7e00;
}

#post-4 #circle {
    background-color: #ff5a00;
}

#post-1, #post-2, #post-3, #post-4 {
    height: 395px;
    background-color: #f9f9f9;
    border: solid 6px #f3f3f3;
    border-radius: 3%;
    margin: -2px;
}

#circle {
    width: 50px;
    height: 50px;
    background: #ffc600;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 20px;
}

#circle h4 {
    margin: 5px 0px 10px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Arial', sans-serif!important;
    letter-spacing: 1px;
}

#title-guide {
    margin-top: 55px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.img-customize {
    width: 260px;
    height: 200px;
}