table#teacher-list-group {
    margin-top: 5px;
}

table#teacher-list-group tr>th:nth-child(1) {
    width: 90%;
}

table#teacher-lists tr>th:nth-child(1) {
    width: 20%;
}

input#title-form {
    padding: 0px 5px;
}

.title-group-teacher {
    color: black;
}

.title-group-teacher:hover {
    cursor: pointer;
    color: #FEB600;
}

.title-group-teacher:visited {
    color: #FEB600;
}

.form-teach-title {
    text-transform: uppercase;
}

.btn-edit-form {
    position: absolute;
    right: 40px;
    top: 20px;
}

.button-back {
    margin: 20px 0px;
    text-align: center;
}

table#result_list_users tr>th:nth-child(4) {
    width: 10%;
}