/* ------------- Global ------------- */
a {
	color: #3498DB;
}
.page-title-section .page-title-breadcrumbs .zozo-breadcrumbs a:hover,
.sidebar .zozo-latest-posts .posts-title a:hover {
    color: #3498DB;
}
blockquote:before,
blockquote:after {
	color: #3498DB;
}
.bg-style.bg-normal {
	background-color: #3498DB!important;
	fill: #3498DB;
}
.bg-overlay-primary:before {
	background: rgba(52,152,219,0.8);
}
.typo-dark h1 > a:hover,
.typo-dark h1 > a:active,
.typo-dark h1 > a:focus,
.typo-dark h2 > a:hover,
.typo-dark h2 > a:active,
.typo-dark h2 > a:focus,
.typo-dark h3 > a:hover,
.typo-dark h3 > a:active,
.typo-dark h3 > a:focus,
.typo-dark h4 > a:hover,
.typo-dark h4 > a:active,
.typo-dark h4 > a:focus,
.typo-dark h5 > a:hover,
.typo-dark h5 > a:active,
.typo-dark h5 > a:focus,
.typo-dark h6 > a:hover,
.typo-dark h6 > a:active,
.typo-dark h6 > a:focus,
.typo-light h1 > a:hover,
.typo-light h1 > a:active,
.typo-light h1 > a:focus,
.typo-light h2 > a:hover,
.typo-light h2 > a:active,
.typo-light h2 > a:focus,
.typo-light h3 > a:hover,
.typo-light h3 > a:active,
.typo-light h3 > a:focus,
.typo-light h4 > a:hover,
.typo-light h4 > a:active,
.typo-light h4 > a:focus,
.typo-light h5 > a:hover,
.typo-light h5 > a:active,
.typo-light h5 > a:focus,
.typo-light h6 > a:hover,
.typo-light h6 > a:active,
.typo-light h6 > a:focus {
    color: #3498DB;
}

/*--------------Page loader-----------*/
.pageloader .ball-clip-rotate > div {
    border-color: #3498DB;
    border-bottom-color: transparent;
}
/* ------------- Button ------------- */
.btn:hover,
.btn:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.tagcloud a:hover,
.tagcloud a:focus,
.vc_general.vc_btn3.vc_btn3-style-default:hover,
.vc_general.vc_btn3.vc_btn3-style-default:focus,
.vc_general.vc_btn3.vc_btn3-style-default:active,
.vc_general.vc_btn3.vc_btn3-color-primary-bg:hover,
.vc_general.vc_btn3.vc_btn3-color-primary-bg:focus,
.vc_general.vc_btn3.vc_btn3-color-primary-bg:active,
.vc_btn.vc_btn-primary-bg:hover,
.vc_btn.vc_btn-primary-bg:focus,
.vc_btn.vc_btn-primary-bg:active,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:hover,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:focus,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink:active {
    background-color: rgba(52,152,219,0.8);
}
.btn,
.btn[disabled],
.btn.btn-default,
.vc_general.vc_btn3.vc_btn3-color-primary-bg,
.vc_btn.vc_btn-primary-bg,
.vc_general.vc_btn3.vc_btn3-color-juicy-pink,
.colorbtn,
.btn-modal.btn-primary,
.btn-modal.btn-primary:active,
.btn-modal.btn-primary:focus {
	background-color: #3498DB;
}
.bg-style.bg-normal .btn,
.bg-style.bg-normal .btn.btn-default,
.bg-style.bg-normal input[type="submit"],
.bg-style.bg-normal button[type="submit"],
.bg-style.bg-normal .vc_general.vc_btn3.vc_btn3-color-primary-bg,
.bg-style.bg-normal .vc_btn.vc_btn-primary-bg,
.bg-style.bg-normal .vc_general.vc_btn3.vc_btn3-color-juicy-pink {
	color: #3498DB;
}
.btn-transparent-black:hover,
.btn.btn-transparent-black:hover,
.btn-transparent-white:hover,
.btn.btn-transparent-white:hover,
.btn-transparent-black-inverse,
.btn.btn-transparent-black-inverse,
.btn-transparent-white-inverse,
.btn.btn-transparent-white-inverse,
.btn-transparent-color,
.btn.btn-transparent-color,
.btn-transparent-color-inverse:hover,
.btn.btn-transparent-color-inverse:hover {
	color: #3498DB;
}
.btn-transparent-color:hover,
.btn.btn-transparent-color:hover,
.btn-transparent-color-inverse,
.btn.btn-transparent-color-inverse {
	background-color: #3498DB;
}
.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg,
.vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg:hover,
.btn-transparent-color,
.btn.btn-transparent-color,
.btn-transparent-color-inverse:hover,
.btn.btn-transparent-color-inverse:hover,
.btn-transparent-color:hover,
.btn.btn-transparent-color:hover,
.btn-transparent-color-inverse,
.btn.btn-transparent-color-inverse {
	border-color: #3498DB;
}
.bg-skin-dark .vc_general.vc_btn3.vc_btn3-style-outline.vc_btn3-color-primary-bg {
	color: #3498DB;
}
.parallax-background .parallax-content a.btn:hover,
.parallax-background .parallax-content a.btn:active,
.parallax-background .parallax-content a.btn:focus {
	color: #3498DB;
}
#respond .form-submit input[type="submit"],
input[type="submit"],
.wpcf7 input[type="submit"],
button[type="submit"] {
	background-color: #3498DB;
}
.bg-style.dark-wrapper .vc_general.vc_cta3 .vc_cta3-actions .vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
	color: #3498DB;
}
/* Go Button Styles */
.vc_general.vc_btn3.vc_btn3-style-default.vc_btn3-color-primary-bg,
.vc_btn3-color-primary-bg.vc_btn3-style-outline:hover,
.vc_btn3-color-primary-bg.vc_btn3-style-outline:focus,
.vc_btn3-color-primary-bg.vc_btn3-style-outline:active {
	background-color: #3498DB;
}
.vc_btn3-color-primary-bg.vc_btn3-style-outline {
	border-color: #3498DB;
}
.vc_btn3-color-primary-bg.vc_btn3-style-outline,
.vc_general.vc_btn3.vc_btn3-style-transparent.vc_btn3-color-primary-bg {
	color: #3498DB;
}
button.ubtn .ubtn-hover {
	background: #3498DB;
}
.ubtn.ubtn-center-dg-bg .ubtn-hover,
.ubtn.ubtn-top-bg .ubtn-hover,
.ubtn.ubtn-bottom-bg .ubtn-hover,
.ubtn.ubtn-left-bg .ubtn-hover,
.ubtn.ubtn-right-bg .ubtn-hover,
.ubtn.ubtn-center-hz-bg .ubtn-hover,
.ubtn.ubtn-center-vt-bg .ubtn-hover {
	background-color: #3498DB;
}
.btn-default:hover,
.btn-default:focus {
	background-color: #3498DB;
}
/* ------------- VC Progress Bar ------------- */
.bar-style-tooltip .tooltip .tooltip-inner {
	background: #3498DB;
}
.bar-style-tooltip .tooltip.top .tooltip-arrow {
	border-top-color: #3498DB;
}
/* ------------- Header top section ------------- */
.header-top-section a:hover,
.header-top-section a:focus,
.mobile-header-section a:hover,
.mobile-header-section a:focus,
.mobile-cart-wrapper a:hover,
.mobile-cart-wrapper a:focus,
.mobile-menu-wrapper a:hover,
.mobile-menu-wrapper a:focus,
.header-main-bar-sidemenu > a.active {
	color: #3498DB;
}
.header-contact-details > li:before,
.header-main-right-search .fa-search.btn-trigger.fa-times {
	color: #3498DB;
}
.cart-count {
	background: #3498DB;
}
.header-details-box .header-details-icon {
	color: #3498DB;
}
/* ------------- Header logo section ------------- */
.header-logo-section .navbar-nav > li a:hover,
.header-logo-section .header-contact-details li > a:hover {
	color: #3498DB;
}
.header-logo-section .header-contact-details > li.header-phone:before,
.header-logo-section .header-contact-details > li.header-email:before {
	color: #3498DB;
}
.header-section.type-header-6 .header-logo-section .woo-cart .cart-icon {
	background:#3498DB;
}
/* ------------- Navigation menu ------------- */
.header-section .header-main-section .zozo-main-nav > li > a:hover,
.header-section .header-main-section .zozo-main-nav > li:hover > a,
.header-section .header-main-section .zozo-main-nav > li.active > a,
.header-section a:hover,
.header-section i:hover,
.header-section .zozo-main-nav li.current-menu-ancestor > a,
.header-section .zozo-main-nav li.current-menu-parent > a,
.header-section .zozo-main-nav li.current-menu-item > a,
.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu > li > a:focus,
.header-section .header-main-section .zozo-main-nav.navbar-nav .dropdown-menu > li > a:hover,
.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu > li > a:focus,
.header-section .header-main-section .zozo-main-nav.navbar-nav .sub-menu > li > a:hover,
.header-section .header-main-section .dropdown-menu > li.dropdown:hover > a,
.header-section .header-main-section .sub-menu > li.dropdown:hover > a,
.header-section .header-main-section .dropdown-menu > .active > a,
.header-section .header-main-section .dropdown-menu > .active > a:focus,
.header-section .header-main-section .dropdown-menu > .active > a:hover,
.header-section .header-main-section .menu-item.active > a,
.header-section .header-main-section .mobile-sub-menu > li > a:hover,
.header-section .header-main-section .mobile-sub-menu > li > a:active,
.header-section .header-main-section .mobile-sub-menu > li > a:focus,
.header-section .header-toggle-section .nav > li > a:focus,
.header-section .header-toggle-section .nav > li > a:hover,
.header-section .header-logo-section .header-contact-details li a:hover,
.header-section .header-toggle-section .header-contact-details li a:hover,
.header-toggle-content .btn-toggle-close,
.header-toggle-section .header-side-top-section .header-side-top-submenu.dropdown-menu li > a:hover,
.header-main-section li.header-side-wrapper > a:focus,
.header-skin-light.header-transparent .header-top-section ul > li a:hover,
.header-section.header-skin-dark .header-main-section .zozo-main-nav li.current-menu-item > a,
.header-section .zozo-main-nav .mobile-sub-menu > li > a:hover,
.header-section.header-menu-skin-dark .header-main-section a:hover,
.header-section.header-menu-skin-light .header-main-section a:hover {
	color: #3498DB;
}
.zozo-main-nav.navbar-nav .dropdown-menu,
.zozo-main-nav.navbar-nav .dropdown-menu .sub-menu,
.zozo-main-nav.navbar-nav .sub-menu,
.zozo-megamenu-wrapper,
.header-side-top-submenu.dropdown-menu {
	border-color: #3498DB;
}
.header-section .header-main-section .header-top-cart .cart-icon .cart-count,
.header-toggle-section .header-top-cart .cart-icon {
	background: #3498DB;
}
.header-section.header-skin-light .zozo-megamenu-widgets-container .widget li a:hover,
.header-section.header-skin-dark .zozo-megamenu-widgets-container .widget li a:hover {
	color: #3498DB;
}
/* TOGGLE HEADER */
.header-section.type-header-9 .header-toggle-section .close-menu,
.header-toggle-section .header-side-top-section .header-side-topmenu .btn:hover {
	background:#3498DB;
}
.header-side-main-section .main-bar-item.item-cart .cart-icon {
	background:#3498DB;
}
.header-section .menu-item .new-tag {
	background:#3498DB;
}
.header-section .menu-item .new-tag:before {
	border-right-color:#3498DB;
}
/* MOBILE NAV */
.main-mobile-nav .zozo-main-nav li.active > .toggle-wrapper a,
.main-mobile-nav .mobile-sub-menu li.active > a,
.main-mobile-nav .zozo-main-nav li a:hover,
.main-mobile-nav .zozo-main-nav .submenu-toggle:hover {
    color: #ffc400;
}
/* ------------- Form ------------- */
input:focus,
.form-control:focus,
textarea:focus,
#respond input:focus,
#respond textarea:focus,
#buddypress #whats-new:focus {
	border-color: #3498DB!important;
}
/* ------------------ Slidingbar ------------------ */
.sliding-bar-widgets .widget.widget_recent_entries li a:hover,
.sliding-bar-widgets .widget.widget_recent_comments li .comment-author-link a:hover,
.sliding-bar-widgets .widget.zozo_category_posts_widget li a:hover,
.sliding-bar-widgets .widget.widget_categories li a:hover,
.sliding-bar-widgets .widget.widget_archive li a:hover,
.sliding-bar-widgets .widget.widget_meta li a:hover,
.sliding-bar-widgets .widget.widget_nav_menu li a:hover,
.sliding-bar-widgets .widget.widget_recent_entries li a:focus,
.sliding-bar-widgets .widget.widget_recent_comments li .comment-author-link a:focus,
.sliding-bar-widgets .widget.zozo_category_posts_widget li a:focus,
.sliding-bar-widgets .widget.widget_categories li a:focus,
.sliding-bar-widgets .widget.widget_archive li a:focus,
.sliding-bar-widgets .widget.widget_meta li a:focus,
.sliding-bar-widgets .widget.widget_nav_menu li a:focus {
	color: #3498DB;
}
.sliding-bar-widgets .zozo-latest-posts .posts-title a:hover,
.sliding-bar-widgets .zozo-latest-posts .posts-title a:focus {
	color: #3498DB;
}
.sliding-bar-widgets .tweet-user-name a:hover,
.sliding-bar-widgets .tweet-user-name a:focus {
	color: #3498DB;
}
/* ------------- Search Form ------------- */
.search-form .input-group-btn .btn:hover {
	background-color: #3498DB;
    color: #fff;
}
/* ------------- Section title ------------- */
.parallax-title:after {
	background-color: #3498DB;
}
/* ------------- Feature Box ------------- */
.grid-item a > .grid-title:hover,
.typo-light .grid-item a > .grid-title:hover {
	color: #3498DB;
}
/* Icon Color */
.zozo-icon.icon-bordered.icon-shape,
.zozo-icon.icon-light.icon-shape,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-none,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-transparent,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-pattern,
.zozo-feature-box .grid-item .grid-icon-wrapper .zozo-icon.icon-dark.icon-shape,
.zozo-feature-box .grid-item .grid-icon-wrapper .grid-icon.icon-shape.icon-bordered,
.zozo-features-list-wrapper .features-list-inner .features-icon {
	color: #3498DB;
}
.bg-style.bg-normal .zozo-icon.icon-bg.icon-shape,
.bg-style.bg-normal .zozo-icon.icon-border-bg.icon-shape,
.bg-style.bg-normal .zozo-icon.icon-border-bg-space.icon-shape,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg .zozo-icon,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .zozo-icon,
.bg-style.bg-normal .zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-br .zozo-icon {
    color: #3498DB;
}
/* Icon BG Color */
.zozo-icon.icon-bg.icon-shape,
.zozo-icon.icon-border-bg.icon-shape,
.zozo-icon.icon-border-bg-space.icon-shape {
	background-color: #3498DB;
}
/* Icon Bordered w/ Background Alt Style */
.zozo-icon.icon-border-bg-space.icon-shape:after {
    box-shadow: 0 0 0 2px #3498DB;
}
/* Icon Hover Color */
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .zozo-icon.icon-light.icon-shape,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-color .grid-icon.icon-none.icon-skin-dark {
	color: #3498DB;
}
/* Icon Hover Bg Color */
.feature-box-style.style-box-with-bg .grid-item .grid-box-inner.grid-text-center:after,
.feature-box-style.style-box-with-bg .grid-item .grid-box-inner .grid-icon:after,
.grid-item .grid-box-inner .grid-overlay-top .grid-icon-wrapper .grid-icon:after,
.icon-bottom-line .grid-icon-wrapper:after {
	background-color: #3498DB;
}
/* Icon Hover border & Bg color */
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-br .grid-icon.icon-shape.icon-bordered,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered-bg {
	border-color: #3498DB;
}
.zozo-feature-box.feature-box-style.style-overlay-box .grid-box-inner,
.grid-item .grid-box-inner .grid-overlay-bottom {
	background-color: #3498DB;
}
/* Icon Hover Icon & Bg Color */
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape {
	color: #3498DB;
}
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-dark,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-bordered,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-dark,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-light,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-bordered {
	background-color: #3498DB;
}
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-bg-icon .grid-icon.icon-shape.icon-pattern,
.zozo-feature-box .grid-item:hover .grid-icon-wrapper.icon-hv-all .grid-icon.icon-shape.icon-pattern {
	background-color: #3498DB;
}
.top-border-style:after {
	border-color: #3498DB;
}
/* ------------- Progress Bar ------------- */
.vc_progress_bar .vc_single_bar .vc_bar {
	background-color: #3498DB;
}
/* ------------- Tabs ------------- */
.nav-tabs > li > a:hover,
.zozo-left-vertical .nav-tabs > li > a:hover,
.zozo-right-vertical .nav-tabs > li > a:hover {
	background-color: #3498DB;
}
.nav-tabs > li > a:hover,
.zozo-left-vertical .nav-tabs > li > a:hover,
.zozo-right-vertical .nav-tabs > li > a:hover,
.zozo-left-vertical .nav-tabs > li.active > a,
.zozo-right-vertical .nav-tabs > li.active > a,
.zozo-tab-horizontal .nav-tabs > li.active a,
.zozo-right-vertical .nav-tabs.tabs-right > li.active > a {
	background: #3498DB;
}
/* VC Tabs */
.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active > a,
.vc_tta-color-white.vc_tta-style-flat .vc_tta-tab.vc_active > a,
.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-heading {
	background-color: #3498DB;
}
/* VC FAQ */
.vc_toggle_square .vc_toggle_icon {
	background-color: #3498DB;
}
/* ------------- Accordion ------------- */
.zozo-accordion.zozo-accordion-default .panel-title a,
.zozo-accordion.zozo-accordion-classic .panel-title a {
	color: #3498DB;
}
/* ------------- Counter ------------- */
.counter.zozo-counter-count:after {
	background-color: #3498DB;
}
.counter-style-1 .zozo-counter-count,
.zozo-counter .counter-icon > i {
	color: #3498DB;
}
/* ------------- Pie chart ------------- */
.zozo-piechart-content .circle-counter-title {
	 color: #3498DB;
}
/* ------------- Dropcap ------------- */
.dropcap {
	color: #3498DB;
}
.text-hightlight {
	background-color: #3498DB;
}
/* ------------- Service Box ------------- */
.zozo-vc-service-box .service-box-inner .service-ribbon-text {
	background-color: #3498DB;
}
.zozo-vc-service-box:hover .service-box-content h4 {
	color: #3498DB;
}
/* ------------- Team Member ------------- */
.team-member-name:after {
	background: #3498DB;
}
.team-item .team-member-name a:hover {
	color: #3498DB;
}
/* ------------- Testimonials ------------- */
.testimonial-item.tstyle-border .testimonial-content {
	border-color: #3498DB;
}
.testimonial-item.tstyle-border .testimonial-content:before {
	border-top-color: #3498DB;
}
.testimonial-item .testimonial-content blockquote:before,
.testimonial-item .testimonial-content blockquote:after {
	color: #3498DB;
}
.zozo-video-controls #video-play:hover,
.zozo-video-controls #video-play:focus {
	color: #3498DB;
}
/* ------------- Twitter Slider ------------- */
.zozo-twitter-slider-wrapper:before {
	background: #3498DB;
}
/* ------------- Owl Carousel Navigation ------------- */
.owl-carousel.owl-theme .owl-controls .owl-nav div {
   background-color: #3498DB;
}
.featured-gallery-slider .owl-carousel.owl-theme .owl-controls .owl-nav div {
    background: #3498DB;
    border-color: #3498DB;
}
/* ------------- Owl Carousel Dots ------------- */
.owl-carousel.owl-theme .owl-controls .owl-dots span {
    background: #3498DB;
}
/* ------------- Call To Action ------------- */
.vc_btn3.vc_btn3-style-custom {
    background: #3498DB!important;
}
.vc_btn3.vc_btn3-style-custom:hover {
    background-color: rgba(52,152,219,0.8)!important;
}
.vc_icon_element-background-color-primary-bg {
    background: #3498DB;
}
/* VC Slider */
.vc_row .vc_images_carousel .vc_carousel-indicators .vc_active {
    border-color: #3498DB;
    background: none;
}
.vc_row .vc_images_carousel .vc_carousel-indicators li {
    background-color: #3498DB;
    border-color: #3498DB;
}
/* ------------- Pricing Table ------------- */
.pricing-plan-list .zozo-price-item h6,
.zozo-pricing-table-wrapper:hover .zozo-pricing-item h4.pricing-title,
.zozo-pricing-table-wrapper:hover .pricing-icon-wrapper > i {
	color: #3498DB;
}
.zozo-pricing-item .pricing-cost-wrapper .pricing-cost h3 {
	color: #3498DB;
}
.zozo-pricing-item.active .pricing-head:after {
	background-color: #3498DB;
}
.zozo-pricing-item .pricing-ribbon-wrapper .pricing-ribbon {
	background: #3498DB; /* Old browsers */
	background: -moz-linear-gradient(top,  #3498DB 0%, #2D87C4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3498DB), color-stop(100%,#2D87C4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3498DB 0%,#2D87C4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3498DB 0%,#2D87C4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3498DB 0%,#2D87C4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3498DB 0%,#2D87C4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498DB', endColorstr='#2D87C4',GradientType=0 ); /* IE6-9 */
}
/* ------------- Portfolio ------------- */
.portfolio-box a:hover,
.style-classic .portfolio-inner-wrapper a:hover {
    color: #3498DB;
}
/*.portfolio-box h5 {
    color: #3498DB;
}*/
.portfolio-tabs.icon_type li a.active,
.portfolio-tabs.icon_type li a i {
	color: #3498DB;
}
.portfolio-tabs.icon_type::after,
.style-style_two .portfolio-bottom {
	background-color: #3498DB;
}
.overlay-buttons > li > a:hover,
.portfolio-content a.classic-img-link:hover:before {
    border-color: #3498DB;
    color: #3498DB;
}
.portfolio-single .portfolio-info-title::before, .portfolio-single .portfolio-desc-title::before{
	background-color: #3498DB;
}
/* ------------- Pagination & Pager ------------- */
.pagination > li > span.current,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #3498DB;
} 
/* .pagination > li > a.prev,
.pagination > li > a.next {
    background-color: #3498DB;
} */
.pagination > li > a.prev:hover:after,
.pagination > li > a.prev:active:after,
.pagination > li > a.prev:focus:after,
.pagination > li > a.next:hover:after,
.pagination > li > a.next:active:after,
.pagination > li > a.next:focus:after {
    background-color: #3498DB;
    border-color: #3498DB;
}
.pager li > a,
.pager li > span {
	border-color: #3498DB;
	background-color: #3498DB;
}
.pager li > a:hover,
.pager li > span:hover,
.pager li > a:active,
.pager li > span:active,
.pager li > a:focus,
.pager li > span:focus {
	background-color: #3498DB;
    color: #fff;
}
/* ------------- Social Email Icon ------------- */
.zozo-social-share-icons li a {
    background-color: transparent;
    border-color: #3498DB;
}
.zozo-social-share-icons li.email a:hover {
    background-color: #3498DB!important;
}
.zozo-social-icons.soc-icon-transparent li.email a:hover,
.zozo-social-icons.soc-icon-transparent li.email a:hover i {
    color: #3498DB;
}
.zozo-social-icons li.email a:hover {
	background-color: #3498DB;
}
/* Portfolio Single Social Email Icon */
.portfolio-single .zozo-social-share-box .zozo-social-share-icons li a,
.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a,
.portfolio-single .zozo-social-share-box .zozo-social-icons.soc-icon-transparent li a i{
	background-color: #3498DB;
	border: 1px solid #3498DB;
	color:#fff;
}
/* Addons Icon Color */
.stats-block .aio-icon i {
	color: #3498DB;
}
/* ------------- Blog ------------- */
.latest-posts-layout .entry-meta .read-more > a:after {
	color: #3498DB;
}
.large-posts h2.entry-title a:hover,
.large-posts h2.entry-title a:focus {
    color: #3498DB;
}
.entry-meta a:hover,
.entry-meta a:active,
.entry-meta a:focus {
	color: #3498DB;
}
.post .btn-more.read-more-link:hover, .post .btn-more.read-more-link:active, .post .btn-more.read-more-link:focus {
    color: #3498DB;
}
.grid-layout .comments-link > a:hover {
	color: #3498DB;
}
.tags-title,
.sharing-title {
    color: #3498DB;
}
.post-tags > a:hover,
.post-tags > a:active,
.post-tags > a:focus {
	color: #3498DB;
}
.comment-form .zozo-input-group-addon .input-group-addon {
	color: #3498DB;
}
.comment-container span i,
.comment-container a i {
	color: #3498DB;
}
#respond.comment-respond .form-submit input[type="submit"] {
	border-color: #3498DB;
	background-color: #3498DB;
}
.post blockquote:after {
	background: #3498DB;
}
/* Blog List */
.entry-title a:hover,
.related-content-wrapper h5 .post-link:hover {
	color: #3498DB;
}
/*widget*/
.tagcloud a {
	background-color: #3498DB;
}
.latest-posts-menu .entry-date i {
	color: #3498DB;
}
.zozo-tabs-widget .tabs .zozo-tab-content a:hover {
	color: #3498DB;
}
.footer-widgets .widget a:hover {
	color: #3498DB;
}
.widget .menu-services-menu-container ul li a:hover,
.widget .menu-services-menu-container ul li.current-menu-item a,
.widget .menu-services-menu-container ul li.current-menu-item a:hover {
	background-color: #3498DB;
}
/* Futured Images Slider */
.featured-caption .featured-caption-inner .featured-post-title a:hover {
	color: #3498DB;
}
/* ------------- Audio & Video Player ------------- */
.mejs-audio .mejs-controls .mejs-time-rail .mejs-time-current,
.video-player .mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #3498DB;
}
.zozo-client-grid img:hover {
	border-color: #3498DB;
}
/* Time Table */
.time-table .table > thead {
	background-color:#3498DB;
}
/* ------------- Contact Form ------------- */
.zozo-input-group-addon .input-group-addon {
	color: #3498DB;
}
/* ------------- Contact Us ------------- */
.contact-info-inner h4.contact-widget-title {
	color: #3498DB;
}
.contact-info-inner h5 a {
	color: #3498DB;
}
.zozo-social-icons.social-style-background li a,
.contact-info-style2 h6 {
    background: #3498DB;
}
/* ------------- Footer ------------- */
.footer-widgets-section .flickr_photo_item a:after {
    background:#3498DB;
}
.footer-backtotop a:hover,
.footer-backtotop a:focus,
.footer-backtotop a:active {
	background: #3498DB;
}
/*Dark*/
.footer-section.footer-skin-dark .widget.widget_recent_entries li a:hover,
.footer-section.footer-skin-dark .widget.widget_recent_comments li .comment-author-link a:hover,
.footer-section.footer-skin-dark .widget.zozo_category_posts_widget li a:hover,
.footer-section.footer-skin-dark .widget.widget_categories li a:hover,
.footer-section.footer-skin-dark .widget.widget_archive li a:hover,
.footer-section.footer-skin-dark .widget.widget_meta li a:hover,
.footer-section.footer-skin-dark .widget.widget_nav_menu li a:hover,
.footer-section.footer-skin-dark .widget li .tweet-user-name a:hover,
.footer-section.footer-skin-dark .widget.zozo_popular_posts_widget .posts-title > a:hover,
.footer-section.footer-skin-dark .zozo-tabs-widget a:hover,
.footer-section.footer-skin-dark .widget.widget_pages li > a:hover {
	color: #3498DB;
}
/* ------------- Responsive Video Section ------------- */
.video-bg .mb_YTVTime {
	background:#3498DB;
}
/* ------------- Woocommerce ------------- */
.woocommerce ul.products li.product:after,
.woocommerce-page ul.products li.product:after {
    background: #3498DB;
}
.woo-cart-item .remove-cart-item:hover {
	color: #3498DB;
}
.woocommerce ul.products li.product h3 > a:hover {
	color: #3498DB;
}
.woo-dropdown > li strong:hover {
	color: #3498DB;
}
.woocommerce ul.products li .product-buttons a.woo-show-details,
.woocommerce .product-buttons > a.add_to_cart_button {
	background: #3498DB;
}
.woocommerce .price > .amount,
.woocommerce-page .price > .amount,
.price ins > .amount {
	color: #3498DB;
}
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.page-numbers.current {
	background-color: #3498DB;
}
.woocommerce span.onsale::before {
	border-color: transparent #3498DB transparent transparent;
}
.woocommerce span.onsale:after,
.woocommerce-page span.onsale:after,
.woocommerce ul.products li.product .onsale:after,
.woocommerce-page ul.products li.product .onsale:after {
	border-top-color: #3498DB;
}
/*.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {
	background: #3498DB;
}*/
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background: #3498DB;
}
.wpb_row .wpb_column .wpb_wrapper .wcmp-product .wcmp-product-desc h2:hover,
.wpb_row .wpb_column .wpb_wrapper .wcmp-product .wcmp-product-desc h2:focus {
	color: #3498DB;
}
/* ------------- Woocommerce Single ------------- */
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
	background: #3498DB;
}
.woocommerce #reviews .comment-text p.meta strong,
.woocommerce-page #reviews .comment-text p.meta strong {
	color: #3498DB;
}
.order-total span.amount {
	color: #3498DB;
}
/* ------------- Woocommerce Tabs ------------- */
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce-page #content div.product-box-wrapper .woocommerce-tabs ul.tabs li:hover,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover {
	background: #3498DB;
}
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce #review_form #respond .form-submit input:active,
.woocommerce #review_form #respond .form-submit input:focus,
.woocommerce-page #review_form #respond .form-submit input:hover,
.woocommerce-page #review_form #respond .form-submit input:active,
.woocommerce-page #review_form #respond .form-submit input:focus {
	background: #3498DB;
}
/* ------------- Woocommerce Buttons ------------- */
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
	background: #3498DB;
	border-color: #3498DB;
}
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	background: #3498DB;
	border-color: #3498DB;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
	background-color: #3498DB;
}
.woocommerce #content div.product form.cart .button,
.woocommerce div.product form.cart .button,
.woocommerce-page #content div.product form.cart .button,
.woocommerce-page div.product form.cart .button {
	background: #3498DB;
}
/*.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt[disabled]:disabled, .woocommerce #respond input#submit.alt[disabled]:disabled:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt[disabled]:disabled, .woocommerce a.button.alt[disabled]:disabled:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt[disabled]:disabled, .woocommerce button.button.alt[disabled]:disabled:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt[disabled]:disabled, .woocommerce input.button.alt[disabled]:disabled:hover {
	background: #3498DB;
	border-color: #3498DB;
}*/
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
	background: #3498DB;
}
/* Woocommerce Cart */
.shop_table.cart td.product-name > a:hover,
.shop_table.cart td.product-price .amount,
.shop_table.cart td.product-subtotal .amount {
	color: #3498DB;
}
.woocommerce .cart-collaterals .cart_totals table tr.order-total td .amount,
.woocommerce-page .cart-collaterals .cart_totals table tr.order-total td .amount {
	color: #3498DB;
}
.zozo-woocommerce-thank-you .thank-you-text {
	color: #3498DB;
}
/* Latest Product Slider */
.woo-latest-slider-item .product-buttons-overlay .product-buttons a:after {
	color: #3498DB;
}
/* ------------- Woocommerce Widgets ------------- */
/* Filter By Price */
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	border-bottom-color: #3498DB;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	background: #3498DB;
}
/* Product Category */
.product_list_widget .amount,
.woocommerce ul.product_list_widget li a:hover,
.sidebar .product-categories li:hover a {
	color: #3498DB;
}
.sidebar .product-categories li:hover .count {
	background:#3498DB;
}
.woocommerce .product-categories .current-cat > span,
.theme-skin-dark .woocommerce .product-categories .current-cat > span {
	background:#3498DB;
}
.woocommerce .product-categories .current-cat > a,
.theme-skin-dark .woocommerce .product-categories .current-cat > a {
	color: #3498DB;
}
.widget.widget_recent_entries li a:hover,
.widget.widget_recent_comments li a:hover,
.widget.zozo_category_posts_widget li a:hover,
.widget.widget_categories li a:hover,
.widget.widget_archive li a:hover,
.widget.widget_meta li a:hover,
.widget.widget_nav_menu li a:hover,
.widget.widget_edd_categories_tags_widget li a:hover {
	color:#3498DB;
}
/* Twitter */
.widget .tweet-item h5:before {
	background:#3498DB;
}
/* Footer */
.footer-copyright-section .zozo-social-icons.soc-icon-transparent i:hover {
	color: #3498DB;
}
/* Widgets */
.secondary_menu .widget_nav_menu ul li.menu-item > a:hover,
.secondary_menu .widget_nav_menu ul li.menu-item > a:active,
.secondary_menu .widget_nav_menu ul li.menu-item > a:focus {
	color: #3498DB;
}
/* --------------Selection Color-------------- */
::-moz-selection {
    background:#3498DB;
    color: #fff;
}
::selection {
	background:#3498DB;
    color: #fff;
}
::-webkit-selection {
    background:#3498DB;
    color: #fff;
}
/* -------------- Revolution Slider ------------- */
.rev_slider_wrapper span {
	color: #3498DB;
}
.typo-light .text-color,
.typo-dark .text-color,
.text-color {
	color: #3498DB;
}
.theme-bg-color {
	background: #3498DB;
}
.zozo-revslider-section .tp-bullets.simplebullets.round .bullet {
    border-color: #3498DB;
}
.zozo-revslider-section .tp-bullets.simplebullets.round .bullet.selected {
	background: #3498DB;
}
.zozo-revslider-section .rev_slider .tp-button {
	border-color: #3498DB; 
	background: #3498DB;	
}
.zozo-revslider-section .rev_slider .tp-button:hover {
	color: #3498DB;
}
.rev_slider .tp-bannertimer {
	background: #3498DB;
}
/* -------------- BuddyPress ------------- */
#buddypress .comment-reply-link,
#buddypress a.button,
#buddypress button,
#buddypress div.generic-button a,
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
a.bp-title-button {
    background: #3498DB;
}
#buddypress div.item-list-tabs ul li.current a,
#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li a:hover,
#buddypress div.item-list-tabs ul li a:focus,
#buddypress div.item-list-tabs ul li a:active {
    background: #3498DB;
}
#buddypress div.activity-meta a {
	background: #3498DB;
}
#buddypress div.activity-meta a:hover,
#buddypress div.activity-meta a:focus,
#buddypress div.activity-meta a:active,
#buddypress div.item-list-tabs ul li.current a:hover,
#buddypress div.item-list-tabs ul li.current a:focus,
#buddypress div.item-list-tabs ul li.current a:active,
#buddypress div.item-list-tabs ul li.selected a:hover,
#buddypress div.item-list-tabs ul li.selected a:focus,
#buddypress div.item-list-tabs ul li.selected a:active,
#buddypress .comment-reply-link:hover,
#buddypress a.button:focus,
#buddypress a.button:hover,
#buddypress button:hover,
#buddypress div.generic-button a:hover,
#buddypress input[type="button"]:hover,
#buddypress input[type="reset"]:hover,
#buddypress input[type="submit"]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a {
    background-color: rgba(52,152,219,0.8);
}
/* BB PRESS */
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
	background: #3498DB;
	border-color: #3498DB;
}
/* -------------- Events Calendar ------------- */
#tribe-events .tribe-events-button,
.tribe-events-button,
#tribe-bar-form .tribe-bar-submit input[type="submit"] {
	background-color: #3498DB;
	border-color: #3498DB;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	color: #3498DB;
}
.tribe-events-list .tribe-events-event-cost span {
	background-color: #3498DB;
	border-color: #3498DB;
}
#tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-gcal,
.single-tribe_events a.tribe-events-ical {
	color: #3498DB;
}
.single-tribe_events .tribe-events-schedule .tribe-events-cost {
	color: #3498DB;
}
#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type="submit"],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
	background-color: #3498DB;
}
h2.tribe-events-page-title a:focus,
h2.tribe-events-page-title a:hover,
.tribe-events-list .type-tribe_events h2 a:hover,
.tribe-events-list-event-title.entry-title.summary a:hover,
.widget .tribe-events-list-widget-events h4.entry-title a:hover {
	color: #3498DB;
}
/* Blog Icon */
article.post .post-inner-wrapper .post-featured-image a:before,
.related-post-item .entry-thumbnail .post-img:before,
.epl-listing-post .property-box .epl-blog-image:before {
	background-color: #3498DB;
}
.comment-container a:hover {
	color: #3498DB;
}
/* Admin Page */
.zozo-social-share-box .author-social li a,
.zozo-social-share-box .author-social li a:hover,
.zozo-social-share-box .author-social li a:focus,
.zozo-social-share-box .author-social li a.active {
	background-color: #3498DB;
}
.author-name a:hover {
	color: #3498DB;
}
/* -------------- Plugins ------------- */
/* Easy Listing Properties */
ul.epl-author-tabs li.epl-author-current,
ul.property_search-tabs li.epl-sb-current,
li.tbhead.current {
	background-color: #3498DB;
}
.tab-title:after,
.epl-property-blog .price h5 {
	background-color: #3498DB;
}
.epl-switching-sorting-wrap .epl-switch-view li.epl-current-view {
	background-color: #3498DB;
}
.epl-property-single .status-sticker.under-offer:hover,
.epl-property-blog .status-sticker.under-offer:hover,
.epl-property-single .status-sticker:hover,
.epl-property-blog .status-sticker:hover {
	background: #3498DB;
}
.property-details-wrapper,
.property-gallery-wrapper {
	background: #3498DB;
}
.footer-skin-dark .widget_epl_recent_property .property-heading a:hover,
.footer-skin-dark .widget_epl_recent_property .property-heading a:focus,
.widget_epl_recent_property .property-heading a:hover,
.widget_epl_recent_property .property-heading a:focus,
.widget.widget_epl_recent_property input[type="submit"]:hover,
.epl-play-btn:hover:after,
.home-open-wrapper li a:hover,
.home-open-wrapper li a:after,
.property-features-list > li a:hover,
.property-features-list > li a:after,
.property-features-list > li a:hover,
.property-features-list > li a:focus {
	color: #3498DB;
}
.epl-button,
.epl-button:hover,
.epl-button:focus {
	background: #3498DB;
}
.epl-author-title.author-title a:hover,
.epl-author-title.author-title a:focus {
	color: #3498DB;
}
/* Restaurent Reservation */
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.picker__day--infocus:hover,
.picker__day--outfocus:hover,
.picker__wrap .picker--focused .picker__day--selected,
.picker__wrap .picker__day--selected,
.picker__wrap .picker__day--selected:hover,
.picker__wrap .picker--focused .picker__day--selected,
.picker__wrap .picker__day--selected,
.picker__wrap .picker__day--selected:hover {
	background: #3498DB !important;
}
.picker__wrap .picker--focused .picker__day--highlighted,
.picker__wrap .picker__day--highlighted:hover,
.picker__wrap .picker__day--infocus:hover,
.picker__wrap .picker__day--outfocus:hover {
    background-color: rgba(52,152,219,0.8);
}
.picker__wrap .picker__box .picker__button--clear:focus,
.picker__wrap .picker__box .picker__button--clear:hover,
.picker__wrap .picker__box .picker__button--close:focus,
.picker__wrap .picker__box .picker__button--close:hover,
.picker__wrap .picker__box .picker__button--today:focus,
.picker__wrap .picker__box .picker__button--today:hover {
	background: #3498DB;
    border-color: #3498DB;
}
.picker__wrap .picker__box .picker__list-item--highlighted,
.picker__list-item:hover,
.picker__wrap .picker__box .picker--focused .picker__list-item--highlighted,
.picker__wrap .picker__box .picker__list-item--highlighted:hover,
.picker__wrap .picker__box .picker__list-item:hover {
	background: #3498DB;
	border-color: #3498DB;
}
.reservation .rtb-text .picker__input.picker__input--active {
	border-color: #3498DB;
}
/* SportsPress */
/*.sp-scrollable-table-wrapper thead tr th{
	color: #3498DB;
}
.sp-template-event-blocks .sp-event-blocks h4.sp-event-title a:hover, .sp-data-table tbody a:hover, .sp-player-list-link.sp-view-all-link:hover, .type-page .sp-template.sp-template-countdown h5 a:hover, .type-page .sp-template.sp-template-countdown h3 a:hover{
	color: #3498DB;
}
.typo-light .sp-template-event-blocks .sp-event-blocks h4.sp-event-title a{
	color: #3498DB;
}*/
/* SportsPress */
.sp-data-table thead {
	background: #3498DB;
}
.bg-skin-dark table.sp-data-table td a:hover,
.typo-light table.sp-data-table td a:hover {
	color: #3498DB;
}
/* Easy Digial Download */
.edd-submit.button.blue,
.edd-submit.button.blue:hover,
.edd-submit.button.blue:focus {
	background: #3498DB;
}
.edd_price_option_price,
.widget.widget_edd_cart_widget .edd-cart-meta.edd_subtotal span,
.widget.widget_edd_cart_widget .edd-cart-meta.edd_total span {
	color: #3498DB;
}
.widget.widget_edd_cart_widget .cart_item.edd_checkout > a,
.widget.widget_edd_cart_widget .edd-cart-quantity {
	background: #3498DB;
}
.edd_download_file .edd_download_file_link:hover {
	color: #3498DB;
}
.single-download .edd_price span,
.edd_download .edd_price {
	color: #3498DB;
}
.edd-cart-added-alert {
	border-color: #3498DB;
}
#edd_discounts_list .edd_discount:hover:before {
	background: #3498DB;
}
/* Ultimate Visual Composer */
.uvc-type-wrap .ultimate-typed-main,
.uvc-heading-spacer .aio-icon {
	color: #3498DB;
}
.smile-icon-timeline-wrap .timeline-separator-text .sep-text,
.smile-icon-timeline-wrap .timeline-wrapper .timeline-dot,
.timeline-feature-item .timeline-dot,
.smile-icon-timeline-wrap .timeline-line z {
	background: #3498DB;
}
.ultimate-vticker.ticker,
.ultimate-vticker.ticker-down {
	color: #3498DB;
}
/* Ultimate Addon Pricing */
.ult_pricing_table_wrap.ult_design_4.ult-cs-yellow .ult_pricing_table {
	border-top-color: #3498DB;
}
.ult_pricing_table_wrap.ult_design_1.ult-cs-yellow .ult_pricing_table,
.ult_pricing_table_wrap.ult_design_1.ult-cs-yellow .ult_pricing_table .ult_price_link .ult_price_action_button,
.ult_pricing_table_wrap.ult_design_4.ult-cs-yellow .ult_pricing_table .ult_price_link .ult_price_action_button {
	background: #3498DB;
}
.ult-carousel-wrapper .slick-next,
.ult-carousel-wrapper .slick-prev,
.ult-carousel-wrapper .slick-next:hover,
.ult-carousel-wrapper .slick-prev:hover,
.ult-carousel-wrapper .slick-next:focus,
.ult-carousel-wrapper .slick-prev:focus {
	color: #3498DB;
}
.ult_pricing_table_wrap.ult-cs-custom .ult_pricing_table .ult_price_link .ult_price_action_button {
	background: #3498DB;
}
.ult_pricing_table_wrap.ult-cs-custom .ult_pricing_table .ult_price_body_block,
.ult_pricing_table_wrap.ult-cs-custom .ult_pricing_table .ult_pricing_heading {
	background: #3498DB;
}
.ult_pricing_table_wrap.ult-cs-custom.ult_design_4 .ult_pricing_table .ult_price_link .ult_price_action_button {
	background: #3498DB;
}
/* VC Post Grid */
.vc_custom_heading.vc_gitem-post-data.vc_gitem-post-data-source-post_date > div {
    color: #3498DB;
}
/* List Item */
.hexagon li.icon_list_item .icon_list_icon {
	background: #3498DB;
	border-color: #3498DB;
}
.sitemap-wrapper ul li a:hover,
.sitemap-wrapper ul li a:active,
.sitemap-wrapper ul li a:focus {
	color: #3498DB;
}
/* WPSL */
.wpsl-search {
	background: #3498DB;
}
#wpsl-search-wrap .wpsl-dropdown div {
	border-color: #3498DB;
}
/* ================================================================
 * Widget
 * ================================================================ */
/* Title */
.widget-title::after {
	background: #3498DB;
}
/* Services menu */
.menu-service-menu-container li a:hover,
.menu-service-menu-container li a:focus,
.menu-service-menu-container li a.active {
	background: #3498DB;
}